:root {
    --back-ground-color :  rgb(9, 9, 103);
    --secondary-color: rgb(9, 135, 9);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--back-ground-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: auto;
    margin: 20px auto;
    row-gap: 20px;
}

h1 {
    color: var(--secondary-color);
}


.container {
    width: 100%;
    height: 480px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    border: 5px solid var(--secondary-color);
    
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.set-size, .reset {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--secondary-color);
}

.grids {
    border: solid;
    border-width: 1px;
}

