
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(105, 105, 113);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: auto;
    margin: 20px auto;
    row-gap: 20px;
}


.container {
    width: 100%;
    height: 480px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.set-size, .reset {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
}

.grids {
    border: solid;
    border-width: 1px;
}

